---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <script src="https://unpkg.com/htmx.org@1"></script>
    <link rel="stylesheet" href="../rooms/3rd-floor-start.astro" />
    <title>Escape</title>
  </head>
  <body 
    <h1>Escape</h1>
    <a href="/">Restart</a>
  </body>
</html>
